@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  font-family: 'Orbitron', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

button:focus {
  outline: none;
}
.App2 {
  margin: 100px 30% 100px 30%;
  background: white;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .App2 {
    margin: 100px 5% 100px 5%;
    background: white;
    padding: 10px;
  }

 }
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.amplify-tabs {
  display: none;
}